@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<p>
    Poliklinik Penawar is a private clinic located at Selangor with address Lot 3344,
    Jalan 18/32, Taman Seri Serdang, 43300, Seri Kembangan. The administrator in charge
    is Rosnani Binti Sohor. The nature business is provides medical 
    treatments to patient and conducting necessary appointment schedule.
</p>

<div>
    <img src="~/image/poli.JPG" width="1105" height="600" />
    <hr />
    <img src="~/image/dispensari.JPG" width="1105" height="600" />
    <hr />
    <img src="~/image/frontpoli.JPG" width="1105" height="600" />
</div>
