@model AppointmentScheduling.Models.ViewModels.MedicineVM

<form method="post" asp-action="Create">
    <div class="border p-3">
        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Add Medicine</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Medicine.MedicineName"></label>
                    </div>
                    <div class="col-4">
                        <label asp-for="Medicine.Amount"></label>
                    </div>
                    @*-------bawah-----------*@
                    <div class="col-4">
                        <label asp-for="Medicine.Category"></label>
                    </div>
                    @*-------atas-----------*@
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <input asp-for="Medicine.MedicineName" class="form-control" />
                        <span asp-validation-for="Medicine.MedicineName" class="text-danger"></span>
                    </div>
                    <div class="col-4">
                        <input asp-for="Medicine.Amount" class="form-control" />
                        <span asp-validation-for="Medicine.Amount" class="text-danger"></span>
                    </div>
                    @*------bawah------------*@  
                    <div class="col-4">
            <select asp-for="Medicine.CategoryId" asp-items="@Model.TypeDropDown" class="form-control">
            <option selected>--Select Medicine Type--</option>
            </select>
            <span asp-validation-for="Medicine.CategoryId" class="text-danger"></span>
                    </div>
                    @*-------atas-----------*@
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-2 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-75" value="Create" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-danger w-75">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{ 
@{ <partial name="_ValidationScriptsPartial" />}
}